@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@font-face {
    font-family: "Degular Display";
    src: url("./assets/font/DegularDisplayDemo-Semibold.otf") format("truetype");
}

:root {
    --primary-brand-color: #ff5733;
    --secondary-brand-color: #ff6c37;
    --primary-nav-font-color: #6b6b6b;
    --secondary-nav-font-color: #212121;
}

/* bg-[linear-gradient(9.34deg,#140B1E_0%,#140B1E_70%,#491591_85%,#822C66_92%,#E0531F_100%)] */

.font-ibm-pm {
    font-family: "IBM Plex Mono", monospace;
}

.font-degular {
    font-family: "Degular Display", serif;
}

body {
    font-family: "Inter", sans-serif;
}
